<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form #postForm="ngForm" (submit)="onSavePost(postForm)" novalidate *ngIf="!isLoading">
        <mat-form-field>
            <input matInput name="title" [ngModel]="post?.title" #title="ngModel" placeholder="Post title" required>
            <mat-error *ngIf="title.invalid">Required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput rows="4" name="content" [ngModel]="post?.content" placeholder="Post title" #content="ngModel" required></textarea>
            <mat-error *ngIf="content.invalid">Required</mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">Send Post
        </button>
    </form>
</mat-card>
